#eventsPage{
    background-size: cover;
    height: 100%;
    width: 100%;
}
.headline{
    padding: 60px;
}
.headline h1{
    color: green;
    text-align: center;
    
}
.headline p{
    text-align: center;
    color: rgba(6, 6, 84, 0.847);
    font-size: 25px;
    
}
.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 20px 0px 150px 0px;
  }
.events-container a{
    text-decoration: none;
    color: rgb(55, 48, 154);
    
}
.events-container a:hover{
    color: rgb(48, 123, 123);
    transition: 0.3s ease-in;
}

  .event-card {
    display: flex;
    margin: 10px 50px;
    width: 700px;
    max-width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
.event-card:hover{
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
}
  
  .event-card img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .event-details {
    flex-grow: 1;
    padding: 1rem;
  }
  
  .event-details h3 {
    margin: 0;
  }
  
  .event-details p {
    margin: 0.5rem 0;
  }